.profile {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}

.profile__header {
  position: -sticky;
  top: 0;
  background-color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #e1e8ed;
  z-index: 100;
}

.profile__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.profile__info {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  margin-top: 20px;
}

.profile__info h3 {
  font-size: 18px;
  font-weight: 600;
}
